body{
  font-size:40px;
  text-align:center;
}
#calc{
  border: solid 1px black;
  width: 500px;
  background-color:#00aafa;
  padding-bottom:10px;
}
button{
  width:110px;
  height:90px;
  margin: 5px;
}
#display{
  width:455px;
  height:70px;
  background-color:white;
  margin: 15px 0px 23px 17px;
  text-align:right;
  padding:5px;
}
#igual{
  width:350px;
}
