#logo{
    height:230px;
	margin-left: 6%;
	margin-right: 6%;
	box-shadow: 1px 2px 5px black;
	background-image:url("../img/bglogo.jpg");
	background-repeat:no-repeat;
	background-position:center -120px;
}
#menu{
	margin-left: 5.8%;
	margin-right: 5.8%;
	box-shadow: 1px 2px 5px black;
}
.parallax { 
    background-image: url("../img/background.jpg");
    max-width: 100%;
    max-height: 100%;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
#footer{
	padding: 15px 3% 15px 3%;
	position: relative;
	margin:auto;
	background:#4682B4;
	margin-left: 5.8%;
	margin-right: 5.8%;
	box-shadow: 1px 2px 5px black;
	
}
.reserv{
  position:relative;
  top:33px;
  margin:0;
  padding: 0;
  width:50%;
  font-size:100%;
  color:white;
  font-family:'Oswald', sans-serif;
}
.redesicons{
  width:50%;
  text-align:center;
  margin: 0;
  padding 0;
  position:relative;
  left:57%;
  bottom:10px;
}
#footer span a img{
  max-width:90%;
}
#footer div h1{
  font-size:15px;
  color:white;
  font-family:'Oswald', sans-serif;
  text-transform:uppercase;
  padding:0;
  margin:0;
}

#conteudo{
	margin-left: 6%;
	margin-right: 6%;
	box-shadow: 1px 2px 5px black;
    background-image: url("../img/backgroundcont.jpg");
	max-width: 100%;
    max-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div h1, h4{
	font-family: 'Oswald', sans-serif;
	padding: 0;
	margin: 0;
	text-align: center;
	color: #000000;
}
h1{
	font-size: 250%;
}
h4{
	font-size: 150%;
}
p{
	padding: 30px;
	margin: 0;
	text-align: center;
	font-size: 16px;
	font-family: 'Oswald', sans-serif;
}

figure span p{
	padding: 3px 0px 0px 0px;
}
.fotos{
	float: left;
	padding: 10px 10px 0px 10px;
	margin: 0px 5px 0px 5px;
	box-shadow: 4px 4px 10px gray;
}
.imgconteudo{
	display: flex;
}
.fig{
	margin: 0px;
	margin-left: auto;
    margin-right: auto;
}

/*------------------------------------------*/
.nav{
	position: relative;
	margin:auto;
	text-align: center;
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
	background:#4682B4;
}

.nav, .nav ul{
	margin:0;
	padding: 0;
	list-style: none;
	line-height: 1;
}

.nav ul {
	display: none;
}
.nav>li {
	margin:0;
	line-height: 2;
	padding: 0;
	display: inline;
	position: relative;
	margin:0 15px;
}

.nav::after, .nav::before {
	display: block;
	position: absolute;
	top:6px;
	height: 0px;
	width: 0px;
	border: 23px solid #65c0bb;
	z-index: -1;
}
.nav>li>a {
	display: inline-block;
	padding: 15px 20px;
	position: relative;

	font-family: 'Oswald', sans-serif;
	font-size: 17px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	text-shadow: 1px 2px rgba(0,0,0 .2);

	-webkit-transition: color .3s linear;
		-moz-transition: color .3s linear;
			-o-transition:color .3s linear;
		-ms-transition:	color .3s linear;
				transition:color .3s linear;
}
.nav>li>a:hover, .nav>li:hover>a {
	color: #eae8a5;
}
.nav>li>a::after {
    height: 15px;
    width: 15px;
    position: absolute;
    right: -20px;
    top: 16px;
    display: block;
}
.nav>li:last-child>a::after {
	display: none;
}

/*-------------------------------------------*/

